.navbar {
  /* border: solid blue 2px;; */
  /* justify-content: center; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  display: flex;
width: 90vw;
height: 120px;
position: fixed;
left: 5%;
display: grid;
grid-template-columns: 2fr 3fr 1fr;
background-color: white;
margin-top: 60px;

}

/* ====================
========Logo============
==================== */

.brand-title {
	margin: 1rem;
	height: 100px;
}

/* ====================
====Burger Menu=====
==================== */
.toggle-button {
	position: absolute;
	top: 3rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

/* =============================
====Nav Bar Menu Main Links=====
============================== */
.navbar_menu_options {
  /* border: solid purple 2pt; */
  display: flex;
}

#navbar-links {
  /* border: solid greenyellow 2px; */
  padding: 0; 
  margin: auto; 
}


#navbar-links li a {
  text-decoration: none;
  color: #354463; 
}


.navbarLi {
  /* border: #00ced1 solid 2pt; */
  text-transform: uppercase;
	font-size: 1.1vw;
  font-family: komet, sans-serif;
  font-weight: 400;
	height: 29px;
	display: flex;
  align-items: center;
  width: 100%;
  /* margin: auto; */
}

.navbarLi:hover:before {
	color: #00ced1;
	list-style: none;
	position: absolute;
}

.navbarLi:hover {
  position: relative;
  background-color: #C1F7D5;
  /* display: inline-block; */
}

/* .dropdown-content a:hover {
	background-color: #C1F7D5;
}
.dropdown:hover .dropdown-content {
  display: block; 
} */


/* =============================
==========Nav Bar sub Links=====
============================== */


.dropdown-content {
	display: none;
	position: absolute;
	top: 84px;
	background-color: #f5f5f5;
	z-index: 5;
	border-radius: 5px;
}

.dropdown-content a {
	float: none;
	color: #354463;
	padding: 12px 10px;
	text-decoration: none;
	display: block;
  text-align: left;
  font-size: 12px;
}

.dropdown-content a:hover {
	background-color: #C1F7D5;
}
.dropdown:hover .dropdown-content {
  display: block; 
}



/* =============================
==========Donate Button=========
============================== */
.navbar-button{
  /* border: solid red 2px; */
  padding: 0px;
  height: 48px;
  height: 4vw;
  /* width: 160px; */
  width: 13vw;
  margin:auto;
  background-color: #C1F7D5;
  /* background-color:#BDD638; */
  border-radius: 25px;
  list-style-type: none;
  text-align: center;
  /* vertical-align: center; */
}



.navbarButtonText{
  /* border: solid blue 2px; */
  text-decoration: none;
  color:  #354463;
  font-family: PoynterOSDisp, sans-serif;
  font-size: 18px;
  font-weight: 800;
  /* vertical-align: center; */
}


/* =============================
==========Media Queries=========
============================== */
@media (max-width: 1000px) {
	.toggle-button {
		display: flex;
	}
	#navbar-links {
		display: none;
		/* width: 100%; */
  }
  
  .navbar-button{
    display: none;
  }
	
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	#navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	#navbar-links li {
		text-align: center;
	}

	#navbar-links li a {
		padding: 0.5rem 1rem;
	}

	#navbar-links.active {
		display: flex;
	}
}

