.skills{
  /* border: 1px solid red; */

  background-color: #C1F7D5;
  background-image: url('../../Assets/skills_img.png');
  background-repeat: no-repeat;
  height: 1300px;
  background-size: cover;
  border: 1px solid black;
  position: relative;
  /* width: auto; */
  /* width: fit-content; */
  /* opacity: 0.6; */
  /* z-index: 1; */
}

.skills_background{
 
  background-color: #C1F7D5;
  opacity: 0.6;
  z-index: 10;
} 

.skills_heading{
  /* border: #354463 solid 2px; */
  font-family: "Flood Std", sans-serif;
  font-size: 80px;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  /* margin-left: 1000px; */
  margin-right: 100px;
}

.skills_title {
  z-index: 100;
  position: relative;
  /* position: absolute; */
  right: -900px;
  display: table-cell;
  vertical-align: middle;
  font-family: "komet", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  background-color: #354463;
  text-transform: uppercase;
  padding: 10px 25px;
  text-align: center;
  letter-spacing: 2px;
  /* margin-top: 90px; */
  margin-right: 100px;
}

.skills_grid{
display: grid;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 20px;
margin: auto;
position: relative;
right: -900px;
}

.skills_grid_block{
background-color: white;
width: 500px;
padding: 20px;

}

.skills_grid_block h1{
  color: #354463;
  font-family: "PoynterOSDisp", sans-serif;
  font-weight: 800;
  font-size: 26px;

}

.skills_grid_block p{
  color: #354463;
  margin-top: 10px;
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-size: 16px;
}