.hero-container {
  border: solid red 2pt;
  padding: 0;
  display: grid;

}

.hero-image {
  width: 100%;
  /* display: inline; */
  /* margin-top: -60px; */
  
}

.hero-text-block {
  /* border: solid green 2pt; */
  margin: 0;
  padding: 0;
}
.heroTitle {
  /* border: solid yellow 2pt; */
  font-family: "komet", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #354463;
  color: white;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

position: relative;
left: 20px;
}

.heroSlogan_block {
  border: solid purple 2pt;
  font-family: "poynterOSDisp", sans-serif;
  font-size: 44px;
  font-weight: 900;
  background-color: white;
  height: 304px;
  width: 443px;
  margin-top: -15px;
  z-index: 1;
  background-color: white;
  
  
}

.heroSlogan_text{
  /* border: solid pink 2pt; */
  width: 95%;
  margin-left: auto;
  margin-top: 70px;
position: relative;

}


/* @media (max-width: 768px) {
  .hero-image {
    display: none;
  }

  .hero-container {
    background-color: #e7f2f5;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 50px;
    display: flex;
    height: 330px;
  }

 

  .hero-text-block {
    margin: auto;
    width: 100%;
  }
  .heroTitle {
    font-size: 9vw;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
  }

  .heroSlogan {
    font-size: 4vw;
    font-weight: 500;
    margin: auto;
    margin-bottom: 50px;
  }
} */