.hero-container {
  /* border: solid red 2pt; */
  padding: 0;
  display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px); */
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    background-image: url('../../Assets/city_tennis_hero.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 490px;
}



.hero-text-block {
  /* border: solid green 2pt; */
  margin: 0;
  padding: 0;
  grid-column: 2 / 6;
   grid-row: 9 / 15;
}
.heroTitle {
  /* border: solid yellow 2pt; */
  font-family: "komet", sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: #354463;
  color: white;
  text-transform: uppercase;
  padding: 10px 25px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
position: relative;
left: 20px;
}


.heroSlogan{
  /* border: solid pink 2pt; */
  font-family: "poynterOSDisp", sans-serif;
  background-color: white;
  font-size: 30px;
  font-weight: 900;
padding: 35px 20px;
  margin-top: -15px;
  width: 25vw;
  z-index: -1
}


/* @media (max-width: 768px) {
  .hero-image {
    display: none;
  }

  .hero-container {
    background-color: #e7f2f5;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 50px;
    display: flex;
    height: 330px;
  }

 

  .hero-text-block {
    margin: auto;
    width: 100%;
  }
  .heroTitle {
    font-size: 9vw;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
  }

  .heroSlogan {
    font-size: 4vw;
    font-weight: 500;
    margin: auto;
    margin-bottom: 50px;
  }
} */