.DonatePageContainer{
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  min-width: 1440px;
  height: 560px;
  overflow: hidden;   
}
.DonatePageButton{
 
}


/* ============================
============================
=====Call To Action=========
============================
============================ */



.callToActionContainer{
  position: relative;
  width: 100%; 
  max-width: 1440px; 
  height: 540px; 
  background-color: #f8f8f8; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.callToActionTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 78px;
}
.callToActionTop p{
  margin: 0;
  font-weight: bold;
}
.callToActionTop p:nth-child(2){
  margin-bottom: 27px;
}

.ButtonContainer{
  /* border: 1px solid red; */
  margin-bottom: 50px;

}
.ActionWords{
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #3a3748; 
  text-align: center;
}
.CallAbutton{
  background-color: #5642cf;
  justify-content: center;
  height: 56px;
  width: 188px;
  border: none;
  border-radius: 4px;
  align-self: center;
  margin: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.8);
}



.callToActionNotes{
  border: 1px solid red;
}
.callToActionContainer1{
  position: relative;
  width: 100%; 
  max-width: 1440px; 
  height: 540px; 
  background-color: #f8f8f8; 
  display: flex;
  flex-direction: column;  
  justify-content: flex-start; 
}
